@import '../../constants.scss';

.booking-success {
  .booking-details {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .booking-detail {
    align-items: center;
    display: flex;
    padding: $gutter-size--large 0;

    &-icon {
      height: 16px;
      margin-right: $gutter-size--large;
    }
  }
}