@import '../../constants.scss';

.book-appointment {
  padding: $gutter-size--large;

  .form-section {
    border: 0;
    margin: 0 0 $gutter-size--xlarge 0;
    padding: 0;

    &-title {
      align-items: center;
      display: flex;
      margin-bottom: $gutter-size--xlarge;
    }

    &-icon {
      color: $icon-color;
      margin-right: $gutter-size--large
    }

    &-content {
      margin-left: (16px + $gutter-size--large);
    }
  }
}