@import '../../constants.scss';

.app {
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  box-sizing: border-box;
  padding: 12px;
  background-color: $primary-dark;
  color: $secondary-light;
  width: calc(25% - 12px);
  height: 42px;
  margin-right: 12px;
  display: inline-block;
  text-align: center;
}

h2 {
  &.h6 {
    font-size: 24px;
  }
}